<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>11815667986-dhf770leibatb1t6st6l2di09h98uti7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11815667986-dhf770leibatb1t6st6l2di09h98uti7</string>
	<key>API_KEY</key>
	<string>AIzaSyDmOay7-OmUIh-MbVRnlikd9_nlSk5Z75I</string>
	<key>GCM_SENDER_ID</key>
	<string>11815667986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sagarrkothari.nToDo</string>
	<key>PROJECT_ID</key>
	<string>ntodo-28dac</string>
	<key>STORAGE_BUCKET</key>
	<string>ntodo-28dac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:11815667986:ios:96e7cbc3d4d8b009</string>
	<key>DATABASE_URL</key>
	<string>https://ntodo-28dac.firebaseio.com</string>
</dict>
</plist>